.card {
    height: 100px;
    width: 50%;

    background-color: rgb(79, 79, 79);
    color: #fff;
    
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card strong {
    font-size: 18px;
}